/*
  Accent 1: #AA2608
  Accent 2: #225722
  Background: #FFFFFF
*/

h1 {
  color: #AA2608;
  text-align: center;
}

h2, h3 {
color: #AA2608;
}

th,
td {
  border: 3px double #225722; 
  padding: 8px;
}

table {
  border-collapse: collapse;
}

a {
  color: #AA2608;    
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #225722;     
}

.style {
  background-color: #AA2608; 
  color: white;
  width: 300px;
  padding: 20px;
  border: 3px dashed #225722; 
  margin: 30px;
}

.img-content {
  background-color: #AA2608; 
  width: 646px;
  padding: 10px;
  border: 5px solid #225722; 
  margin: 40px;
}

body {
  padding: 20px;  
  font-size: 18px;
}